.h1 {
  font-size: 26px;
  font-weight: normal;
  color: var(--text-color);
}

.h2 {
  font-size: 22px;
  font-weight: normal;
  color: var(--text-color);
}

.h3 {
  font-size: 20px;
  font-weight: normal;
  color: var(--text-color);
}

.h4 {
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color);
}

.body1 {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
}

.body2 {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

.body3 {
  font-size: 12px;
  font-weight: normal;
  color: var(--text-color);
}

.transform-uppercase {
  text-transform: uppercase;
}

.transform-capitalize {
  text-transform: capitalize;
}

.transform-lowercase {
  text-transform: lowercase;
}
