.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  color: var(--text-color-dark);
  min-width: 64px;
  min-height: 46px;
  width: 100%;
  padding: 8px 12px;
  border-radius: var(--secondary-radius);
  cursor: pointer;
}

.disabled {
  background: var(--accent-color-dark);
}

.icon {
  font-size: 16px;
  margin-right: 6px;
  margin-top: 4px;
}
