.container {
  width: 100%;
  min-height: 46px;
  margin-bottom: 16px;

  label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
  }
}

.error {
  margin-left: 12px;
  margin-bottom: 20px;
}
