.wrapper {
  // position: fixed;
  top: 76px;
  width: clamp(220px, 50vw, 320px);
  height: 90vh;
  padding: 16px;
  flex: 1;
}

.container {
  background: var(--primary-color);
  height: 100%;
  border-radius: var(--primary-radius);
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.header {
  width: 100%;
  padding: 16px;
  border-radius: var(--secondary-radius);
  background: var(--secondary-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 6px;
  overflow-y: scroll;
}
